body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.pokemon-grid-item {
  width: 45%;
  margin: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;

}